---
import Item from '~/components/store/ListItem.astro';
import type { Product } from '~/types';

export interface Props {
  products: Array<Product>;
}

const { products } = Astro.props;
---

<ul class="grid grid-cols-2 gap-4 md:gap-8 lg:grid-cols-3">
  {
    products.map((product) => (
      <li class="mb-2">
        <Item product={product} />
      </li>
    ))
  }
</ul>
