---
import type { Product } from '~/types';
import { findImage } from '~/utils/images';
import Carousel from '../widgets/Carousel.astro';

export interface Props {
  product: Product;
  url: string | URL;
}

const { product } = Astro.props;

const imageList = await Promise.all(product.images?.map(async (path) => await findImage(path)) ?? []);
---

<section class="mx-auto max-w-4xl p-4">
  <article class="flex flex-col gap-4 md:flex-row md:gap-12">
    {
      imageList?.length > 0 && (
        <div class="grow">
          <Carousel images={imageList} alt={product.title} />
        </div>
      )
    }
    <header class:list={['flex flex-col gap-1', imageList.length ? 'md:max-w-72' : '']}>
      <h1 class="font-heading text-2xl leading-none">
        {product.title}
      </h1>
      <span class="text-primary text-xl font-semibold">
        {new Intl.NumberFormat('pt-BR', { currency: 'BRL', style: 'currency' }).format(product.price)}
      </span>
      <div class="mt-4 text-gray-900" set:html={product.description} />
      <div class:list={[imageList.length ? 'mt-4 md:mt-auto' : 'mt-8', 'text-muted space-y-2 text-sm']}>
        <p>
          <strong class="mr-2 inline-block">Como comprar</strong>
          os produtos da lojinha estão disponíveis na diretoria do Grupo. O pagamento pode ser feito via Pix, em dinheiro,
          ou cartão de crédito (com taxas).
        </p>
        {
          product?.badge == 'encomenda' && (
            <p>
              Este produto é disponível sob encomenda: metade do valor deve ser pago ao realizar o pedido e o restante,
              ao receber o produto.
            </p>
          )
        }
      </div>
    </header>
  </article>
</section>
