---
import { Image } from 'astro:assets';
import type { Product } from '~/types';

export interface Props {
  product: Product;
  url: string | URL;
}

const { product } = Astro.props;
---

<section class="mx-auto py-8 sm:py-16 lg:py-20 print:block">
  <article>
    {
      product.image && (
        <Image
          src={product.image}
          class="mx-auto mb-6 max-w-full bg-gray-400 sm:rounded-md lg:max-w-[900px]"
          widths={[400, 900]}
          sizes="(max-width: 900px) 400px, 900px"
          alt={product?.title || ''}
          width={900}
          height={506}
          loading="eager"
          decoding="async"
        />
      )
    }
    <header>
      <div class="mx-auto mt-0 mb-2 flex max-w-3xl flex-col justify-between px-4 sm:flex-row sm:items-center sm:px-6">
      </div>

      <h1 class="leading-tighter font-heading mx-auto max-w-3xl px-4 text-xl font-bold sm:px-6 md:text-2xl">
        {product.title}
      </h1>
      <p class="text-muted mx-auto mt-4 mb-8 max-w-3xl px-4 text-justify sm:px-6">
        {product.description}
      </p>
    </header>
  </article>
</section>
