---
import Circle from './Circle.astro';
import Square from './Square.astro';
import Triangle from './Triangle.astro';
---

<div class="mx-auto grid w-fit grid-cols-37">
  <Square class="text-green h-10 w-10 rotate-90" />
  <div></div>
  <Triangle class="text-orange h-10 w-10" />
  <Triangle class="text-yellow h-10 w-10 rotate-180" />
  <div></div>
  <Square class="text-green h-10 w-10 rotate-180" />
  <Square class="text-orange h-10 w-10" />
  <div></div>
  <Triangle class="text-purple h-10 w-10" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <div></div>
  <Circle class="text-purple h-10 w-10 rotate-180" />
  <Circle class="text-green h-10 w-10 rotate-90" />
  <Circle class="text-yellow h-10 w-10" />
  <Triangle class="text-orange h-10 w-10 rotate-90" />
  <Triangle class="text-green h-10 w-10 rotate-90" />
  <div></div>
  <Triangle class="text-orange h-10 w-10" />
  <Triangle class="text-yellow h-10 w-10 rotate-180" />
  <div></div>
  <Square class="text-green h-10 w-10 rotate-180" />
  <Square class="text-orange h-10 w-10" />
  <div></div>
  <Triangle class="text-purple h-10 w-10" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <Circle class="text-purple h-10 w-10 rotate-180" />
  <Circle class="text-green h-10 w-10 -rotate-90" />
  <div></div>
  <Circle class="text-yellow h-10 w-10" />
  <Triangle class="text-orange h-10 w-10 rotate-90" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <div></div>
  <Triangle class="text-purple h-10 w-10" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <Circle class="text-green h-10 w-10 -rotate-90" />
  <Circle class="text-yellow h-10 w-10" />
  <Triangle class="text-orange h-10 w-10 rotate-90" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <Circle class="text-yellow h-10 w-10" />
  <div></div>
  <Triangle class="text-orange h-10 w-10 rotate-90" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <div></div>
  <Triangle class="text-purple h-10 w-10 rotate-270" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <div></div>
  <Circle class="text-purple h-10 w-10 rotate-180" />
  <Circle class="text-green h-10 w-10 rotate-90" />
  <Circle class="text-yellow h-10 w-10" />
  <Triangle class="text-orange h-10 w-10 rotate-180" />
  <Square class="text-green h-10 w-10" />
  <div></div>
  <Triangle class="text-orange h-10 w-10" />
  <Triangle class="text-yellow h-10 w-10 rotate-180" />
  <Square class="text-green h-10 w-10 rotate-180" />
  <div></div>
  <Triangle class="text-orange h-10 w-10" />
  <Triangle class="text-yellow h-10 w-10 rotate-180" />
  <div></div>
  <Triangle class="text-green h-10 w-10 rotate-180" />
  <Square class="text-orange h-10 w-10" />
  <Triangle class="text-purple h-10 w-10" />
  <div></div>
  <Square class="text-green h-10 w-10 rotate-90" />
  <div></div>
  <Circle class="text-purple h-10 w-10 rotate-180" />
  <div></div>
  <Triangle class="text-purple h-10 w-10" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <Circle class="text-yellow h-10 w-10" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <Triangle class="text-orange h-10 w-10 rotate-90" />
  <div></div>
  <Triangle class="text-orange h-10 w-10" />
  <Triangle class="text-yellow h-10 w-10 rotate-90" />
  <div></div>
  <Square class="text-green h-10 w-10 rotate-180" />
  <Square class="text-orange h-10 w-10" />
  <div></div>
  <Circle class="text-green h-10 w-10 rotate-90" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <div></div>
  <Circle class="text-purple h-10 w-10 rotate-180" />
  <Circle class="text-green h-10 w-10 rotate-270" />
  <Circle class="text-yellow h-10 w-10" />
  <div></div>
  <Triangle class="text-orange h-10 w-10 rotate-90" />
  <Square class="text-green h-10 w-10 -rotate-90" />
  <div></div>
  <Square class="text-green h-10 w-10 rotate-180" />
  <Triangle class="text-orange h-10 w-10 rotate-90" />
  <Square class="text-orange h-10 w-10" />
  <div></div>
  <Triangle class="text-purple h-10 w-10" />
  <Triangle class="text-yellow h-10 w-10 rotate-180" />
  <div></div>
  <Square class="text-green h-10 w-10 rotate-180" />
  <Circle class="text-orange h-10 w-10" />
  <Triangle class="text-purple h-10 w-10" />
  <Triangle class="text-orange h-10 w-10" />
  <Square class="text-green h-10 w-10 rotate-90" />
  <Circle class="text-green h-10 w-10 -rotate-90" />
  <Triangle class="text-yellow h-10 w-10" />
  <Circle class="text-green h-10 w-10 -rotate-90" />
  <Circle class="text-yellow h-10 w-10 rotate-180" />
  <Triangle class="text-orange h-10 w-10 -rotate-90" />
  <Triangle class="text-purple h-10 w-10 rotate-180" />
  <Circle class="text-purple h-10 w-10 rotate-180" />
  <div></div>
  <Triangle class="text-purple h-10 w-10" />
  <Circle class="text-yellow h-10 w-10" />
</div>
