---

---

<div
  class="text-muted text-sm dark:bg-red-950 bg-red-300/40 border-b border-red-300 dark:border-red-800 dark:text-red-100 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span
    class="dark:bg-red-800 bg-accentr text-red-100 dark:text-red-50 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
  >
    FLP
  </span>
  <a href="https://forms.gle/fT5gpFVvNses92aN7" class="text-muted hover:underline dark:text-red-100 font-medium"
    >Inscrição para o XII Fórum de Lei e Promessa aqui »</a
  >
  <!-- <a
    target="_blank"
    rel="noopener"
    class="ltr:ml-auto rtl:mr-auto w-[5.6rem] h-[1.25rem] ml-auto bg-contain inline-block bg-[url(https://img.shields.io/github/stars/onwidget/astrowind.svg?style=social&label=Stars&maxAge=86400)]"
    title="If you like AstroWind, give us a star."
    href="getPermalink('ingressos-bufe-2024', 'post')"
  >
  </a> -->
</div>
