---
import { getPermalink } from '~/utils/permalinks';
---

<div
  id="announcement"
  class="text-muted relative hidden gap-1 overflow-hidden border-b border-orange-300 bg-orange-300/40 px-3 py-2 text-sm text-ellipsis whitespace-nowrap"
>
  <span class="mr-0.5 inline-block bg-orange-400 px-1 py-0.5 text-xs font-semibold text-orange-50 rtl:mr-0 rtl:ml-0.5">
    Bufê
  </span>
  <a href={getPermalink('bufe-2025', 'post')} class="font-medium text-orange-800 hover:underline">
    Acompanhe tudo do nosso 17º Bufê de Sopas »
  </a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const dataLimite = new Date('2025-07-12');
    const dataAtual = new Date();
    const announcement = document.getElementById('announcement');

    if (dataAtual < dataLimite && announcement) {
      announcement.classList.remove('hidden'); // Remove `hidden`
      announcement.classList.add('flex'); // Adiciona `flex`
    }
  });
</script>
