---

---

<div
  class="text-muted relative hidden gap-1 overflow-hidden border-b border-red-300 bg-red-300/40 px-3 py-2 text-sm text-ellipsis whitespace-nowrap md:flex"
>
  <span class="bg-accent mr-0.5 inline-block px-1 py-0.5 text-xs font-semibold text-red-100 rtl:mr-0 rtl:ml-0.5">
    FLP
  </span>
  <a href="https://forms.gle/fT5gpFVvNses92aN7" class="text-muted font-medium hover:underline"
    >Inscrição para o XII Fórum de Lei e Promessa aqui »</a
  >
  <!-- <a
    target="_blank"
    rel="noopener"
    class="ltr:ml-auto rtl:mr-auto w-[5.6rem] h-[1.25rem] ml-auto bg-contain inline-block bg-[url(https://img.shields.io/github/stars/onwidget/astrowind.svg?style=social&label=Stars&maxAge=86400)]"
    title="If you like AstroWind, give us a star."
    href="getPermalink('ingressos-bufe-2024', 'post')"
  >
  </a> -->
</div>
