---
import { Icon } from 'astro-icon/components';
---

<section class="not-prose bg-green-100 text-green-900">
  <div class="text-md mx-auto max-w-2/5 px-4 py-4 text-center font-medium text-balance">
    <p class="font-bold">
      O escotismo não é uma ciência confusa ou difícil. É, ao contrário, um jogo divertido se for tomado em seu devido
      significado. Ao mesmo tempo é educativo e, como o perdão, beneficia tanto a quem o concede como a quem o recebe.
    </p>
    <span class="mt-2 inline-block font-light italic">Baden-Powell, no Guia do Chefe Escoteiro</span>
  </div>
</section>
