---
import Layout from '~/layouts/PageLayout.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Pricing from '~/components/widgets/Pricing.astro';
import Features from '~/components/widgets/Features.astro';
import { getAsset } from '~/utils/permalinks';

const docVersion = '0.9';
const docSize = '3MB';
---

<Layout>
  <!-- <HeroText title=`Club` subtitle="" /> -->

  <Features
    title="Clube da Flor-de-Lis"
    subtitle="Conheça as ações que o Albert desenvolve e quanto mais podemos fazer com a sua ajuda!"
    items={[
      {
        title: 'Acampamentos',
        description: 'Participar da organização dos eventos, auxiliando nas campanhas financeiras e confraternizações.',
      },
    ]}
  />

  <Testimonials
    testimonials={[
      {
        // title: 'A',
        name: 'Léo',
        job: 'Foi jovem, escotista e dirigente no GEAS',
        testimonial: 'Participação e ações paralelas.',
      },
      {
        // title: 'A',
        name: 'Lukas',
        job: 'Foi jovem e escotista no GEAS',
        testimonial: 'Vivência completa do programa educativo.',
      },
      {
        // title: 'A',
        name: 'Páti',
        job: 'Foi escotista no GEAS',
        testimonial: 'Destaque ao GEAS e ao acolhimento.',
      },
      {
        // title: 'A',
        name: 'Daniel',
        job: 'Foi jovem e escotista no GEAS',
        testimonial: 'Formação pessoal.',
      },
      {
        // title: 'A',
        name: 'Paula',
        job: 'Foi mãe de jovem e dirigente no GEAS',
        testimonial: 'Desenvolvimento do filho e interesse no apoio.',
      },
      {
        // title: 'A',
        name: 'Ernani',
        job: 'Vice-Presidente de Honra, foi jovem, escotista e dirigente no GEAS',
        testimonial: 'Tradição e importância do GEAS na comunidade.',
      },
    ]}
  />

  <Pricing
    title="Como contribuir"
    prices={[
      {
        price: '45,00',
        title: 'Contribuinte',
        period: 'março a dezembro',
        items: [
          { description: 'Associado aos Escoteiros do Brasil como contribuinte do GEAS' },
          { description: 'Participação integral na assembleia do GEAS' },
          { description: 'Nome exposto na lista de contribuintes' },
        ],
        hasRibbon: true,
        ribbonTitle: 'Ex-Membros',
      },
      {
        price: '129,00',
        title: 'Embaixador',
        period: 'anual',
        items: [
          { description: 'Associado aos Escoteiros do Brasil como colaborador do GEAS' },
          { description: 'Ações e participação customizada' },
        ],
      },
      {
        price: '-',
        title: 'Eventos',
        period: 'datas do calendário',
        items: [{ description: 'Sem investimento financeiro' }, { description: 'Valor promocional nos eventos' }],
        hasRibbon: true,
        ribbonTitle: 'Responsáveis',
      },
    ]}
  />
  <CallToAction
    title="Faça parte do Clube da Flor-de-Lis"
    subtitle=""
    tagline="Apoie o Albert"
    actions={[
      {
        href: getAsset(`documents/geas-cfl-v.${docVersion}.pdf`),
        text: `Saiba mais <span class="font-light inline-block ml-1 text-sm">(PDF - ${docSize})</span>`,
        variant: 'secondary',
        icon: 'tabler:download',
        download: 'clube-flor-de-lis.pdf',
      },
      { href: '/', text: 'Quero participar', variant: 'primary' },
    ]}
  />
</Layout>
