---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';

import { getPermalink } from '~/utils/permalinks';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Grupo Escoteiro Albert Schweitzer',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Encontre o Albert',
        href: '#mapa',
        target: '',
        icon: 'tabler:map-pin',
      },
      { text: 'Saiba mais', href: '#perguntas' },
    ]}
    image={{ src: '~/assets/images/hero.jpg', alt: 'Lobinha sorrindo, com as mãos pintadas de tinta.' }}
  >
    <Fragment slot="title"> O Grupo Escoteiro ideal para você! </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        O Grupo Escoteiro Albert Schweitzer tem mais de 50 anos de história, proporcionando aventuras e aprendizagem
        para crianças, adolescentes e jovens.
      </span>
    </Fragment>
  </Hero>

  <Testimonials
    title="Depoimentos"
    subtitle="Leia o testemunho de pessoas que fazem parte do GEAS."
    callToAction={{
      text: 'Conheça nossos adultos »',
      href: getPermalink('adultos'),
      variant: 'link',
    }}
    testimonials={[
      {
        testimonial:
          'Já tenho mais tempo de vida sendo escoteiro do que antes de entrar no Movimento, e acho que foi a melhor escolha que tomei.',
        name: 'Gustav',
        job: 'Dirigente',
        image: { src: '~/assets/images/adultos/gustav-sq.jpg', alt: 'Gustav' },
      },
      {
        testimonial:
          'Quando eu fiz minha promessa, eu me comprometi a fazer o melhor possível para tornar o mundo um lugar melhor através dos valores que o Movimento me passou.',
        name: 'Madu',
        job: 'Escotista',
        image: { src: '~/assets/images/adultos/madu-sq.jpg', alt: 'Madu' },
      },
      {
        testimonial:
          'Hoje, eu sou quem sou por conta do Escotismo: por conta da Promessa que eu fiz em 2007, dos valores que o Movimento Escoteiro me ensinou e de todas as pessoas que ele me proporcionou conhecer.',
        name: 'Zanini',
        job: 'Diretor',
        image: { src: '~/assets/images/adultos/zanini-sq.jpg', alt: 'Zanini' },
      },
    ]}
  />

  <BlogHighlightedPosts
    title="Acompanhe as atividades no nosso Blog"
    information={`Postamos no blog sobre os eventos e atividades do Grupo.
                        As fotos estarão nas redes sociais, mas aqui você pode acompanhar um pouco
                        do que fazemos no Albert.
                `}
    postIds={['flp-2024', 'cne-2024', 'historia-geas', 'biografia-albert']}
  />

  <FAQs
    id="perguntas"
    title="Perguntas Frequentes"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Onde fica o Grupo Escoteiro?',
        description: `Nosso Grupo fica na Rua Coronel Camisão, 30 no bairro Higienópolis (Zona Norte
                de Porto Alegre) junto ao Colégio Pastor Dohms. Realizamos nossas atividades na área
                do turno inverso.`,
        callToAction: {
          text: 'Veja no mapa',
          icon: 'tabler:map-pin',
          href: '#mapa',
        },
      },

      {
        title: 'Quais os dias e horários das reuniões?',
        description: `Nossas atividades acontecem, normalmente, nos sábados à tarde, iniciando às 13h30
                e encerrando às 18h00.<br/>Eventualmente, temos atividades especiais, como acampamentos,
                excursões ou mutirões, e os horários podem variar. Também antecipamos o encerramento
                nos meses de Junho, Julho e Agosto para 17h30.`,
      },
      {
        title: 'Quanto custa para ser escoteiro?',
        description: `Existem custos diretos e indiretos: existe uma taxa anual e mensalidades, além de
                custos com eventos, materiais e uniformes.<br/>Atualmente, a mensalidade do nosso grupo
                tem o valor de R$ 30,00, e a taxa anual é em torno de R$ 120,00, a ser reajustada pelos
                níveis Nacional e Regional dos Escoteiros do Brasil.`,
      },
      {
        title: 'Qual a idade para participar?',
        description: `Crianças a partir de 6 anos e meio podem participar como lobinhos - e jovens até
                21 anos podem participar nos demais ramos.<br/>Os membros do grupo são divididos em
                quatro ramos, pelas faixas etárias: Ramo Lobinho, entre 6 anos e meio e 10 anos; Ramo
                Escoteiro, entre 10 e 14 anos; Ramo Sênior, entre 14 e 17 anos; e Ramo Pioneiro, entre
                17 e 21 anos.`,
        callToAction: {
          text: 'Saiba mais sobre o Escotismo',
          icon: 'tabler:link',
          href: getPermalink('escotismo'),
        },
      },
      {
        title: 'Quem foi Albert Schweitzer?',
        description: `Albert Schweitzer foi um teólogo, organista, médico e filósofo humanitário dedicado,
                famoso por sua missão médica na África. Em 1913, fundou um hospital no Gabão, proporcionando
                cuidados médicos vitais em uma região carente. Foi laureado em 1952 com o Prêmio Nobel da Paz.
                <br/>Sua filosofia de "reverência pela vida" influenciou gerações, enfatizando a importância
                do respeito por todas as formas de vida. Seu legado inspirador de compaixão e serviço
                altruístico perdura até hoje.`,
        callToAction: {
          text: 'Biografia completa',
          icon: 'tabler:link',
          href: getPermalink('albert-schweitzer', 'post'),
        },
      },
      {
        title: 'Sou adulto, também posso ser escoteiro?',
        description: `O Movimento Escoteiro é um movimento de jovens e para jovens, com o apoio de adultos voluntários.
          Você pode conhecer a proposta do Movimento Escoteiro e, se interessando, tornar-se voluntário no Grupo Escoteiro.
          Sinta-se convidado para conversar conosco!`,
      },
    ]}
  />

  <Steps
    title="Venha ser escoteiro:"
    image={{
      src: '~/assets/images/cla.jpg',
      alt: 'Escoteiros em um jogo, equilibrando objetos em duplas.',
    }}
    items={[
      {
        title: 'Passo 1',
        description: 'Visite o Grupo Escoteiro em uma atividade de sábado e faça seu registro provisório.',
        icon: 'tabler:arrow-down',
      },
      {
        title: 'Passo 2',
        description: 'Conheça as atividades escoteiras e participe um mês de todas as nossas atividades.',
        icon: 'tabler:arrow-down',
      },
      {
        title: 'Passo 3',
        description: 'Realize seu registro definitivo, com duração de 12 meses.',
        icon: 'tabler:arrow-down',
      },
      {
        title: 'Pronto!',
        icon: 'tabler:check',
        classes: {
          icon: 'bg-primary text-white ',
        },
      },
    ]}
  />

  <Content
    title="Contato"
    subtitle="Escolha a melhor forma de falar conosco:"
    id="mapa"
    isReversed
    classes={{
      icon: 'bg-primary-900',
    }}
    items={[
      {
        title: 'Endereço',
        description: `Rua Coronel Camisão, 30 - Higienópolis`,
        icon: 'tabler:home',
      },
      {
        title: 'WhatsApp',
        description: `<a
                class="underline underline-offset-2"
                href="https://wa.me/555195794880"
                rel="noopener noreferrer"
                target="_blank">
                  (51) 9 9579 4880
                </a>`,
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: 'Email',
        description: `<a
                class="underline underline-offset-2"
                href="mailto:geas38rs@gmail.com"
                rel="noopener noreferrer"
                target="_blank">
                  geas38rs@gmail.com
                </a>`,
        icon: 'tabler:mail',
      },
    ]}
    image={`<iframe
    title="Mapa - Grupo Escoteiro Albert Schweitzer"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.8440461417117!2d-51.18917962370413!3d-30.012634129803327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951979db99ec9815%3A0xdd2f2406ed6dc875!2sGrupo%20Escoteiro%20Albert%20Schweitzer%2038%2FRS!5e0!3m2!1spt-BR!2sbr!4v1716685008300!5m2!1spt-BR!2sbr"
    class="w-full aspect-video rounded-md border-0  shadow-md"
    loading="eager"
    referrerpolicy="no-referrer-when-downgrade"></iframe>`}
  />
</Layout>
