---
import Layout from '@layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Transparência',
};
---

<Layout metadata={metadata}>
  <Content isReversed title="Transparência" subtitle="Publicado" tagline="finanças">
    <div slot="content">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quisquam ut repudiandae porro natus delectus
        adipisci quidem. Nemo mollitia, placeat sit maxime, commodi hic tenetur id incidunt illum possimus consequatur.
      </p>
    </div>

    <div slot="image">espaço da imagem</div>

    <div slot="bg" class="absolute inset-0 bg-[#fff]"></div>
  </Content>
</Layout>
