---
import Layout from '@layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import HeroText from '~/components/widgets/HeroText.astro';

const metadata = {
  title: 'Transparência',
};
---

<Layout metadata={metadata}>
  <HeroText title="Transparência" subtitle="Publicado " />

  <Content title="aqui">
    <Fragment slot="content">
      <div>
        <p class="text-right">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quisquam ut repudiandae porro natus delectus
          adipisci quidem. Nemo mollitia, placeat sit maxime, commodi hic tenetur id incidunt illum possimus
          consequatur.
        </p>
      </div>
    </Fragment>
    <Fragment slot="bg"> <div class="absolute inset-0 bg-[#fff]"></div></Fragment>
  </Content>
</Layout>
