---
import { getPermalink } from '~/utils/permalinks';

import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

export interface Props {
  tags: Post['tags'];
  class?: string;
  title?: string | undefined;
  isCategory?: boolean;
}

const { tags, class: className = 'text-sm', title = undefined, isCategory = false } = Astro.props;
---

{
  tags && Array.isArray(tags) && (
    <>
      <>
        {title !== undefined && (
          <span class="align-super font-normal underline decoration-2 underline-offset-4">{title}</span>
        )}
      </>
      <ul class={className}>
        {tags
          .sort((a, b) => (a.title < b.title ? -1 : a.title > b.title ? 1 : 0))
          .map((tag) => (
            <li class="mr-2 mb-2 inline-block bg-gray-100 hover:bg-purple-100 px-2 py-0.5 font-medium lowercase rtl:mr-0 rtl:ml-2">
              {!APP_BLOG?.tag?.isEnabled ? (
                tag.title
              ) : (
                <a href={getPermalink(tag.slug, isCategory ? 'category' : 'tag')} class="text-muted hover:text-primary">
                  {tag.title}
                </a>
              )}
            </li>
          ))}
      </ul>
    </>
  )
}
