---
import { Icon } from 'astro-icon/components';
// import { map } from 'lodash';
import { twMerge } from 'tailwind-merge';

// component: DListItem
//
// Mimics the html 'dl' (description list)
//
// The 'dt' item is the item 'term' and is inserted into an 'h6' tag.
// Caller needs to style the 'h6' tag appropriately.
//
// You can put pretty much any content you want between the open and
// closing tags - it's simply contained in an enclosing div with a
// margin left.  No need for 'dd' items.
//
const { dt, icon, classes = {} } = Astro.props;
interface Props {
  dt: string;
  icon?: string;
  classes?: Record<string, string>;
}

const content: string = await Astro.slots.render('default');
---

<h6 class={twMerge('inline-flex items-center gap-1', classes?.title)}>
  {icon && <Icon name={icon} class={twMerge('text-muted block h-4 w-4', classes?.icon)} />}
  <Fragment set:html={dt} />
</h6>
<div class={twMerge('dd ml-8', classes?.description)} set:html={content} />
