---

---

<div>
  <svg class="h-16" viewBox="0 0 723 199" fill="none" xmlns="http://www.w3.org/2000/svg">
    <title>Logo do Grupo Escoteiro Albert Schweitzer</title>
    <path
      d="M136.99 69.16C135.36 73.75 132.77 79.8 129.47 83.64C129.33 83.9 129.19 84.16 129.03 84.43C128.64 85.11 128.18 85.73 127.63 86.25C127.71 88.1 127.35 89.98 126.99 91.83C126.83 92.7 126.52 93.52 126.1 94.26C127.11 98.96 127.09 103.66 127.05 107.9C127.05 108.58 127.05 109.25 127.05 109.91C127.05 110.8 126.9 111.69 126.61 112.53C125.96 114.46 125.59 115.78 125.37 116.67C125.41 116.81 125.46 116.95 125.52 117.06C125.8 117.46 125.83 117.61 126.04 118.11C126.81 119.99 127.33 122.15 127.63 124.72C127.72 125.44 127.7 126.16 127.6 126.86C127.62 127.14 127.63 127.41 127.64 127.68C127.86 134.47 123.41 141.05 117.06 143.35H117.03C117.03 143.37 117.03 143.38 117.03 143.39C116.91 143.7 116.79 144.03 116.66 144.37L116.54 144.71C116.06 145.98 115.28 147.08 114.31 147.95C114.08 148.2 113.85 148.44 113.59 148.66C112.28 150.24 110.83 151.76 109.64 152.96C108.69 162.13 104.66 175.96 102.01 184.39C101.64 186.49 100.76 188.24 99.3899 189.61C98.1799 190.83 96.6099 191.62 94.8999 191.89C92.7399 192.23 90.5699 192.54 88.4699 192.84L86.1899 193.17C85.7999 193.22 85.42 193.26 85.03 193.26C84.28 193.26 83.5399 193.16 82.8199 192.95C82.7399 192.93 81.8099 192.69 78.1499 192.17L72.3699 191.7C69.7699 191.87 67.4799 192.06 65.3599 192.28C65.0799 192.31 64.81 192.31 64.53 192.31C62.45 192.31 60.43 191.51 58.91 190.05C56.31 187.55 55.6399 184.91 55.2699 183.22C54.8999 182.58 54.4999 181.92 54.0599 181.25C51.7899 180.02 49.7499 178.95 47.8599 178.01C47.2499 177.71 46.6899 177.33 46.1799 176.88C45.3899 176.2 44.5999 175.51 43.8099 174.83C37.6099 169.51 31.2099 164.01 26.1299 156.77C25.6999 156.16 25.3599 155.49 25.1099 154.78L25.03 154.55C22.93 148.55 19.77 139.48 22.84 131.74C24.04 128.71 26.9399 126.69 30.1899 126.62C29.9799 125.26 29.7999 123.74 29.7899 122.13C29.1399 121.8 28.2899 121.47 27.5799 121.29C26.6199 121.08 25.8099 120.71 24.9799 120.16C20.2599 117.02 15.7199 110.61 12.8299 103.02C10.9599 98.11 8.36991 88.78 11.6099 80.67C10.2799 79.52 9.34993 78 8.93993 76.23C7.45993 74.89 6.48989 73.08 6.21989 71.05C5.59989 66.39 8.63994 63.47 11.1399 61.47C9.85994 59.39 8.62994 56.62 8.57994 53.12C8.44994 44.56 16.1699 33.93 21.5499 29.85C22.0499 29.47 22.6899 28.97 23.4599 28.37C27.0999 25.54 33.7699 20.34 41.0599 15.79C41.2199 15.64 41.3899 15.5 41.4799 15.4C42.3099 14.63 43.2899 14.02 44.3499 13.65C44.5699 13.56 44.8 13.49 45.03 13.41C49.12 11.08 52.9099 9.29003 56.3199 8.09003C61.0299 6.44003 65.2999 5.84003 69.0199 5.84003C77.8999 5.84003 83.6199 9.24002 84.4699 9.77002C84.9499 10.07 85.4 10.42 85.81 10.83C86.04 10.92 86.3999 10.96 86.8199 10.96C88.1099 10.96 90.01 10.58 91.17 10.11C91.55 9.87999 91.9499 9.68 92.3599 9.5C93.8199 8.86 95.36 8.53003 96.91 8.53003C98.35 8.53003 99.7899 8.80999 101.19 9.35999C102.41 9.72999 103.44 10.18 104.89 10.8C105.63 11.12 106.55 11.52 107.78 12.03C108.22 12.21 108.55 12.34 108.8 12.43C109.27 12.43 109.71 12.46 110.16 12.49C110.74 12.53 111.3 12.64 111.85 12.8C112.82 13.08 113.8 13.38 114.79 13.66C117.09 14.33 119.45 15.03 121.84 15.77C123.83 16.39 125.52 17.76 126.53 19.58C127.47 21.26 128.33 22.71 128.82 23.53C134.01 29.01 136.26 34.74 138.58 40.79C139.08 41.77 139.39 42.86 139.45 44.02C139.62 47.16 139.94 50.48 140.24 53.67V53.69C140.65 58.12 138.38 65.29 137 69.17L136.99 69.16Z"
      fill="#63626a"></path>
    <path
      d="M145.37 53.25V53.16L145.35 53.11C145.06 49.98 144.75 46.74 144.58 43.72C144.49 41.97 144.06 40.27 143.29 38.7C141.09 32.96 138.57 26.5 132.93 20.38C132.42 19.54 131.74 18.38 131.01 17.06C129.34 14.06 126.63 11.85 123.34 10.83C120.91 10.07 118.52 9.38001 116.21 8.70001C115.23 8.42001 114.25 8.12998 113.29 7.84998C112.4 7.57998 111.46 7.41003 110.52 7.34003C110.29 7.32003 110.06 7.30999 109.83 7.29999C109.8 7.27999 109.76 7.27001 109.73 7.26001C108.55 6.77001 107.66 6.38001 106.95 6.07001C105.45 5.42001 104.27 4.90997 102.86 4.46997C100.92 3.72997 98.91 3.35999 96.89 3.35999C94.61 3.35999 92.39 3.83001 90.27 4.76001C89.82 4.96001 89.3799 5.16997 88.9499 5.40997C88.6099 5.51997 88.12 5.63001 87.66 5.70001C87.51 5.60001 87.3599 5.49002 87.1999 5.40002C85.9499 4.61002 79.21 0.669983 69 0.669983C64.24 0.669983 59.39 1.53002 54.59 3.21002C51.01 4.47002 47.07 6.31 42.87 8.69C42.78 8.72 42.7 8.75003 42.61 8.78003C40.86 9.40003 39.28 10.36 37.94 11.63C30.57 16.27 23.89 21.47 20.28 24.29L20.13 24.39C19.45 24.92 18.87 25.38 18.42 25.71C12.27 30.37 3.23999 42.32 3.39999 53.18C3.42999 55.63 3.89995 57.98 4.78995 60.28C2.58995 62.75 0.399995 66.5 1.08999 71.69C1.43999 74.37 2.58999 76.87 4.33999 78.89C4.70999 79.91 5.19996 80.89 5.79996 81.8C3.50996 90.67 6.08996 99.84 7.98996 104.82C11.28 113.47 16.39 120.58 22.02 124.37C20.28 125.77 18.87 127.64 18.01 129.81C14.23 139.34 17.92 149.91 20.13 156.22L20.21 156.44C20.61 157.6 21.17 158.69 21.88 159.7C27.33 167.47 33.98 173.19 40.42 178.71C41.23 179.4 42 180.07 42.78 180.74C43.61 181.46 44.5399 182.08 45.5399 182.58C47.0499 183.34 48.6599 184.17 50.4099 185.11C51.0499 187.65 52.2399 190.77 55.3199 193.72C57.7999 196.11 61.07 197.42 64.52 197.42C64.97 197.42 65.42 197.4 65.87 197.36C67.82 197.15 69.9399 196.98 72.3199 196.83L77.56 197.26C80.34 197.66 81.32 197.86 81.51 197.9C82.65 198.21 83.82 198.37 85.01 198.37C85.65 198.37 86.28 198.32 86.91 198.23L89.18 197.9C91.3 197.59 93.49 197.28 95.68 196.94C98.47 196.5 101.01 195.21 103.01 193.22C105.06 191.17 106.41 188.61 107 185.6C109.84 176.58 113.32 164.37 114.53 155.27C115.56 154.2 116.49 153.17 117.31 152.18C117.52 151.97 117.74 151.77 117.94 151.55C119.27 150.32 120.34 148.82 121.07 147.17C128.25 143.51 133.07 135.58 132.79 127.45C132.79 127.3 132.79 127.14 132.77 126.99C132.87 126.02 132.86 125.04 132.75 124.07C132.4 121.07 131.78 118.48 130.84 116.19C131 115.63 131.22 114.96 131.49 114.15C131.96 112.77 132.2 111.32 132.2 109.86C132.2 109.25 132.2 108.62 132.2 107.99V107.9C132.23 103.93 132.26 99.49 131.46 94.84C131.71 94.16 131.91 93.46 132.04 92.75C132.31 91.33 132.61 89.78 132.73 88.13C133.01 87.73 133.27 87.32 133.51 86.9C133.59 86.77 133.66 86.64 133.72 86.51C136.67 82.93 139.39 77.65 141.83 70.83C143.7 65.61 145.81 58.33 145.35 53.18L145.37 53.25ZM129.47 83.64C129.33 83.9 129.19 84.16 129.03 84.43C128.64 85.11 128.18 85.73 127.63 86.25C127.71 88.1 127.35 89.98 126.99 91.83C126.83 92.7 126.52 93.52 126.1 94.26C127.11 98.96 127.09 103.66 127.05 107.9C127.05 108.58 127.05 109.25 127.05 109.91C127.05 110.8 126.9 111.69 126.61 112.53C125.96 114.46 125.59 115.78 125.37 116.67C125.41 116.81 125.46 116.95 125.52 117.06C125.8 117.46 125.83 117.61 126.04 118.11C126.81 119.99 127.33 122.15 127.63 124.72C127.72 125.44 127.7 126.16 127.6 126.86C127.62 127.14 127.63 127.41 127.64 127.68C127.86 134.47 123.41 141.05 117.06 143.35H117.03C117.03 143.37 117.03 143.38 117.03 143.39C116.91 143.7 116.79 144.03 116.66 144.37L116.54 144.71C116.06 145.98 115.28 147.08 114.31 147.95C114.08 148.2 113.85 148.44 113.59 148.66C112.28 150.24 110.83 151.76 109.64 152.96C108.69 162.13 104.66 175.96 102.01 184.39C101.64 186.49 100.76 188.24 99.39 189.61C98.18 190.83 96.61 191.62 94.9 191.89C92.74 192.23 90.5699 192.54 88.4699 192.84L86.1899 193.17C85.7999 193.22 85.42 193.26 85.03 193.26C84.28 193.26 83.5399 193.16 82.8199 192.95C82.7399 192.93 81.81 192.69 78.15 192.17L72.37 191.7C69.77 191.87 67.48 192.06 65.36 192.28C65.08 192.31 64.81 192.31 64.53 192.31C62.45 192.31 60.43 191.51 58.91 190.05C56.31 187.55 55.64 184.91 55.27 183.22C54.9 182.58 54.5 181.92 54.06 181.25C51.79 180.02 49.75 178.95 47.86 178.01C47.25 177.71 46.69 177.33 46.18 176.88C45.39 176.2 44.6 175.51 43.81 174.83C37.61 169.51 31.21 164.01 26.13 156.77C25.7 156.16 25.36 155.49 25.11 154.78L25.03 154.55C22.93 148.55 19.77 139.48 22.84 131.74C24.04 128.71 26.94 126.69 30.19 126.62C29.98 125.26 29.7999 123.74 29.7899 122.13C29.1399 121.8 28.29 121.47 27.58 121.29C26.62 121.08 25.8099 120.71 24.9799 120.16C20.2599 117.02 15.72 110.61 12.83 103.02C10.96 98.11 8.36995 88.78 11.61 80.67C10.28 79.52 9.34997 78 8.93997 76.23C7.45997 74.89 6.48994 73.08 6.21994 71.05C5.59994 66.39 8.63998 63.47 11.14 61.47C9.85998 59.39 8.62998 56.62 8.57998 53.12C8.44998 44.56 16.17 33.93 21.55 29.85C22.05 29.47 22.69 28.97 23.46 28.37C27.1 25.54 33.77 20.34 41.06 15.79C41.22 15.64 41.3899 15.5 41.4799 15.4C42.3099 14.63 43.2899 14.02 44.3499 13.65C44.5699 13.56 44.8 13.49 45.03 13.41C49.12 11.08 52.9099 9.29003 56.3199 8.09003C61.0299 6.44003 65.3 5.84003 69.02 5.84003C77.9 5.84003 83.6199 9.24002 84.4699 9.77002C84.9499 10.07 85.4 10.42 85.81 10.83C86.04 10.92 86.3999 10.96 86.8199 10.96C88.1099 10.96 90.01 10.58 91.17 10.11C91.55 9.87999 91.95 9.68 92.36 9.5C93.82 8.86 95.36 8.53003 96.91 8.53003C98.35 8.53003 99.7899 8.80999 101.19 9.35999C102.41 9.72999 103.44 10.18 104.89 10.8C105.63 11.12 106.55 11.52 107.78 12.03C108.22 12.21 108.55 12.34 108.8 12.43C109.27 12.43 109.71 12.46 110.16 12.49C110.74 12.53 111.3 12.64 111.85 12.8C112.82 13.08 113.8 13.38 114.79 13.66C117.09 14.33 119.45 15.03 121.84 15.77C123.83 16.39 125.52 17.76 126.53 19.58C127.47 21.26 128.33 22.71 128.82 23.53C134.01 29.01 136.26 34.74 138.58 40.79C139.08 41.77 139.39 42.86 139.45 44.02C139.62 47.16 139.94 50.48 140.24 53.67V53.69C140.65 58.12 138.38 65.29 137 69.17C135.37 73.76 132.78 79.81 129.48 83.65L129.47 83.64Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M75.74 182.97C75.83 183.2 75.9701 183.38 76.0601 183.69C80.8401 184.32 83.82 184.8 84.99 185.13C87.79 184.72 90.72 184.32 93.61 183.87C95.28 182.2 91.85 168.8 89.64 166.59C84.45 167.85 80.07 178.55 75.7 182.92L75.75 182.97H75.74Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M68.66 175.62C66.36 170.12 62.6099 164.93 59.7299 159.51C58.8899 158.76 56.6599 157.3 53.0499 155.13C43.4799 148.68 37.9799 143.99 31.6199 134.74H30.3599C28.3699 139.75 31.0799 147.33 32.7499 152.11C37.8499 159.37 44.7099 164.88 51.4699 170.74C54.1799 172.09 56.8799 173.54 59.5899 175.03C60.9099 176.83 62.03 178.61 62.93 180.35C63.34 182.02 63.34 183.06 64.51 184.19C67.62 183.87 70.7399 183.65 73.8499 183.47C72.1799 180.36 70.51 180.27 70.51 176.07C69.88 175.84 69.25 175.75 68.66 175.66V175.61V175.62Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M94.65 135.06C92.79 135.27 90.2599 135.86 87.0699 136.82C83.9599 136.19 85.49 139.12 81.88 138.4C80.84 135.6 77.73 135.29 75.2 134.97C75.52 141.42 74.97 141.11 81.88 141.74C84.9 145.39 88.42 146.12 92.89 147.06C96.63 146.97 105.66 146.83 107.46 142.59H108.18V141.87H108.9C109.71 139.7 110.34 138.22 110.03 135.96C104.21 135.42 100.46 138.26 94.64 135.15V135.06H94.65Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M72.5 141.51C72.27 139.66 71.69 138.17 70.83 136.5H70.2C70.2 138.67 70.2 139.7 71.01 141.51H72.5Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M63.25 138.08C64.2 138.8 65.24 139.66 66.27 140.47C66.36 140.38 66.5001 140.24 66.6801 140.24C66.6801 139.13 66.44 137.88 65.96 136.5C64.2 136.27 63.25 135.96 63.25 138.08Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M101.64 131.49C101.73 127.43 101.41 127.65 98.1199 125.99C94.6899 125.99 88.7799 126.08 88.1499 130.37C91.8899 130.78 95.7299 131.32 99.6099 131.81C100.24 131.72 100.96 131.58 101.69 131.49H101.64Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M118.29 69.95C117.88 67.78 117.48 65.57 117.03 63.41C115.18 59.67 113.29 56.01 111.53 52.4C111.05 51.92 109.24 50.91 106.12 49.38C103.1 47.3 101.43 46.18 97.8199 45.64C95.3399 43.97 95.1999 41.58 92.0899 43.25C89.0699 42.21 86.18 41.17 83.25 40.14C78.47 40.14 74.18 40.55 69.4 40.37C67.82 41.5 66.2899 42.76 64.7099 44.02C64.0799 51.28 72.61 49.84 74.68 57.01C75.09 60.66 74.68 65 76.76 68.15C80.5 68.78 84.8799 68.96 88.2199 71.17V72.12C87.8099 72.21 87.4099 72.35 87.0899 72.44C80.7299 70.77 74.01 70.36 67.55 71.72C66.6 72.67 65.79 73.71 64.93 74.74C64.93 75.15 64.93 75.69 65.02 76.18C74.09 74.83 82.7099 75.86 91.7299 75.86C92.1399 76.09 92.5399 76.4 92.9899 76.67C92.8999 78.34 91.9499 80.01 94.3399 80.01C94.6099 79.74 95.4399 77.51 96.8199 73.33C97.1399 73.33 97.5399 73.33 97.9499 73.42C98.0399 74.55 98.18 75.72 98.27 76.85C95.88 86.51 98.18 97.02 96.92 106.99C98.27 107.8 99.6299 108.75 100.98 109.7C104.18 109.79 108.7 109.07 110.32 112.5C110.09 112.82 109.91 113.13 109.78 113.54C108.52 113.31 107.3 113.22 106.04 113.13C102.2 115.75 97.11 115.75 92.5 116.06C91.69 117.32 90.6499 119.9 89.0699 119.9C89.1599 118.46 89.3 116.97 89.39 115.52C87.95 115.75 86.4599 116.06 85.0999 116.33C84.2899 117.05 83.52 117.68 82.39 117.68C82.07 117.14 81.7599 116.73 81.4399 116.33C76.4299 116.33 71.2399 118.32 66.6899 119.85C66.5999 120.08 66.4599 120.39 66.4599 120.66C69.3899 119.22 72.6899 119.71 75.9399 119.71C77.1999 118.58 78.24 117 80.18 117.63C80.09 118.89 79.64 119.62 79.77 122.1C83.11 122.73 83.6099 118.04 86.8499 118.04C87.1699 120.03 85.7199 120.97 85.7199 122.82C86.0399 122.91 86.4399 123.05 86.8499 123.23C87.5699 122.69 88.4299 122.19 89.2399 121.79C91.0899 122.83 92.17 122.83 94.25 122.83C96.1 121.16 97.36 118.99 99.12 122.02C100.88 123.28 104.53 124.82 106.61 125.04C107.15 125.45 107.87 127.75 108.6 128.38C110.59 128.15 110.77 127.75 112.12 127.75C112.53 128.47 113.07 129.19 113.56 130.05C113.79 129.82 114.1 129.64 114.37 129.51C114.69 128.07 114.46 127.12 115.5 126.08C116.94 126.08 118.43 126.8 119.56 125.67C119.35 123.87 119 122.38 118.52 121.2C116.22 119.94 114.14 119.03 113.74 116.51C114.37 116.28 116.67 116.6 117.17 116.28C117.44 114.69 118.03 112.57 118.93 109.92C118.93 104.42 119.25 98.37 117.35 93.09C112.79 90.38 109.14 89.66 103.63 89.44C101.55 84.75 101.01 80.69 100.52 75.59C100.75 75.36 101.06 75.18 101.33 75.05C102.59 77.13 103.32 79.74 103.95 80.46C104.49 80.37 104.99 80.23 105.53 80.23C105.94 79.1 106.34 78.06 107.52 77.75C112.21 78.79 117.18 80.46 121.96 80.46C125.7 73.78 125.7 72.97 118.12 69.86L118.3 69.95H118.29Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M83.3199 126.12V124.99C82.9999 124.9 82.69 124.76 82.37 124.67C81.74 125.3 81.11 126.02 80.52 126.75C80.61 126.84 80.75 127.07 80.84 127.29C81.65 126.88 82.5099 126.48 83.3199 126.16V126.11V126.12Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M57.97 118.09C58.29 118.72 58.6 119.35 59.01 119.94C60.14 119.85 60.8601 119.62 61.8101 118.99C61.8101 117.32 60.23 116.69 58.79 116.69C58.47 117.1 58.16 117.5 57.98 118.04V118.09H57.97Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M27.06 101.76C22.91 95.53 22.5899 92.83 29.5399 89.89V88.76C28.8199 89.17 28.1 89.57 27.46 90.02C26.92 89.21 26.5099 88.35 26.1099 87.63H24.6699C22.5899 93.77 22.05 97.6 26.02 102.79C26.38 104.02 26.46 104.85 26.25 105.27C25.71 105.18 25.2099 105.18 24.6699 105.18C20.8299 98.73 19.57 91.78 19.57 84.15C20.53 82.5 21.0899 81.25 21.2399 80.41C13.4299 88.22 22.05 108.47 29.45 113.39C31.53 113.16 34.01 113.3 35.5 111.81C35.5 106.08 31.85 104.64 27.06 101.7V101.75V101.76Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M59.5 91.06C57.65 93.54 58.37 99.68 58.46 102.79C60.85 104.23 62.8401 105.09 65.5401 105.9C67.7101 107.57 69.92 109.24 72.08 111C74.43 110.16 76.5801 109.23 78.5301 108.2C81.6401 104.86 88.0101 98.63 85.3901 93.45C84.5501 93.45 83.37 93.69 81.87 94.17C81.55 93.54 81.9601 92.82 82.2801 89.39C80.2001 88.13 73.21 85.33 70.96 86.59C71.37 90.24 77.82 89.93 80.75 90.33C80.75 90.56 80.84 90.74 80.98 91.05C77.96 93.35 72.77 91.28 69.34 90.64C69.34 93.26 75.48 93.75 77.46 94.29V95.33C72.36 98.76 64.15 91.09 59.59 91.09L59.5 91.04V91.06Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M27.78 98.15C28.1 97.92 28.4999 97.74 28.9099 97.61V95.94C28.6999 95.88 28.2499 96.09 27.5599 96.57C27.5599 97.11 27.6499 97.61 27.7899 98.15H27.78Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M118.29 90.52C118.52 90.43 118.7 90.29 119.01 90.29C119.49 87.79 119.63 86.41 119.42 86.14H116.31C116.31 87.81 117.57 89.16 118.3 90.52H118.29Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M81.5699 80.96C80.1299 80.96 75.66 80.42 74.71 81.37C74.71 81.79 75.03 82.32 75.66 82.95C77.04 82.53 79.12 82.18 81.89 81.91C81.8 81.59 81.6599 81.28 81.5699 80.96Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M28.0999 80.87C28.0099 80.55 27.8699 80.24 27.8699 80.06C25.5699 78.71 24.8499 78.48 22.5499 79.65C23.9899 79.74 24.9399 79.88 25.9799 80.91H28.0599L28.1099 80.86L28.0999 80.87Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M123.48 65.57C123.89 66.92 124.74 67.42 125.87 68.37C125.87 66.61 125.55 65.57 123.48 65.57Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M131.29 44.46C128.9 38.23 127.05 33.23 122.36 28.53C121.73 29.79 121.41 30.11 119.97 30.52C120.33 31.63 120.51 33.26 120.51 35.39C121.55 37.56 123.22 39.13 124.66 41.53C124.66 42.66 124.25 43.38 124.34 45.27C126.1 48.61 128.58 51.32 130.79 54.43H132.14C131.82 51.09 131.51 47.75 131.33 44.46H131.28H131.29Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M44.9699 26.18C45.0599 26.59 45.2899 26.99 45.5099 27.44C48.5299 27.12 53.09 25.59 55.17 23.47H56.2099C57.9699 26.18 54.4499 31.68 53.1899 34.07C52.3799 37 51.52 39.98 50.71 43C51.03 42.91 51.3399 42.77 51.7499 42.77C53.0099 39.43 54.3699 36.09 55.7199 32.89C57.7999 30.5 58.1099 26.98 60.4999 24.77C60.7299 24.77 60.9099 24.86 61.2199 25C62.3499 29.56 57.3799 36.96 56.9799 42.37C57.2999 42.14 57.6999 41.96 58.1099 41.83C58.8299 39.21 59.6899 36.64 60.4999 34.02C61.4499 33.7 62.35 33.39 63.3 33.07C63.21 31.72 63.2099 30.45 63.2099 29.23C64.0199 29.46 64.97 29.64 65.92 29.86C65.83 28.1 65.1999 26.52 65.1999 24.76C74.7699 21.33 78.1899 25.8 79.3199 35.14C81.2799 35.14 82.6 35.03 83.29 34.82C84.64 32.34 86.6299 31.89 87.8499 29.81H89.1099C89.7399 32.29 91.7299 33.33 92.4499 35.72H94.1199C94.3499 34.59 94.5299 33.55 94.8399 32.52C95.1599 32.43 95.5599 32.29 95.9699 32.29C97.0099 35.63 97.41 36.13 100.66 37.61C100.89 37.38 101.07 37.29 101.38 37.2C101.29 33.23 100.03 26.82 103.55 23.98C103.78 24.07 103.96 24.21 104.27 24.3C103.73 30.66 103.23 37.52 106.98 43.02C107.46 43.02 108.15 42.67 109.06 41.98C111.05 42.93 113.03 43.97 114.47 45.72H115.82C115.59 44.05 115.01 42.9201 114.24 41.3401C108.92 40.5301 109.68 36.65 109.05 32C105.21 29.52 106.43 26.9 110.18 24.1C114.65 24.01 117.58 25.54 121.41 27.3C120.69 25.95 120.06 24.68 119.42 23.46C116.08 22.42 112.74 21.4701 109.54 20.5301C104.13 20.1201 101.1 22.52 99.9699 27.61C99.0199 28.56 97.9799 28.74 96.6299 28.87C93.6099 25.85 99.2499 20.66 99.2499 17.41C95.0099 14.61 93.7499 19.71 90.3199 20.21C87.1199 23.41 84.9099 18.36 81.4799 18.36C81.4799 18.68 81.5699 19.08 81.7099 19.49C83.5599 21.34 85.45 25.94 84.64 28.42C84.23 28.42 83.8299 28.5101 83.3799 28.6501C78.9999 18.1401 69.8399 15.57 59.2399 17.1C55.1799 18.45 51.1199 19.81 47.0599 21.25C45.2999 22.92 40.2899 26.57 40.2899 29.06C42.5899 28.65 42.9999 26.04 44.9799 26.04V26.13L44.9699 26.18Z"
      fill="white"></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M47.55 41.66C47.87 41.43 48.27 41.25 48.68 41.12C50.12 37.15 51.6099 34.89 49.7199 31.01C49.3099 31.01 48.91 31.1 48.46 31.24C48.23 31.87 48.69 33.32 48.69 35.62C48.06 37.61 47.02 39.59 47.56 41.67L47.55 41.66Z"
      fill="white"></path>
    <path
      d="M169.64 79.86C172.4 81.45 175.48 82.25 178.87 82.25C182.26 82.25 185.12 81.5 187.76 79.99C190.4 78.49 192.51 76.43 194.08 73.83C195.65 71.23 196.53 68.32 196.7 65.1V62.43H177.4V65.42H192.82C192.64 68.15 191.94 70.53 190.7 72.58C189.46 74.63 187.82 76.2 185.77 77.3C183.72 78.4 181.43 78.95 178.87 78.95C176.14 78.95 173.69 78.32 171.53 77.06C169.36 75.8 167.65 74 166.39 71.66C165.13 69.32 164.5 66.61 164.5 63.53C164.5 60.45 165.13 57.75 166.39 55.43C167.65 53.11 169.36 51.31 171.53 50.05C173.7 48.79 176.15 48.16 178.87 48.16C181.77 48.16 184.3 48.85 186.45 50.23C188.6 51.61 190.2 53.51 191.25 55.92H195.55C194.22 52.42 192.09 49.7 189.15 47.74C186.21 45.78 182.79 44.8 178.87 44.8C175.48 44.8 172.4 45.6 169.64 47.19C166.88 48.78 164.7 51 163.11 53.85C161.52 56.7 160.72 59.93 160.72 63.53C160.72 67.13 161.51 70.36 163.11 73.21C164.7 76.06 166.88 78.28 169.64 79.87V79.86Z"
      class="fill-[#63626a]"></path>
    <path
      d="M215.89 56.55H216.89V52.72C214.48 52.72 212.44 53.21 210.78 54.19C209.12 55.17 207.89 56.55 207.08 58.33V53.24H203.41V81.87H207.08V65.87C207.08 62.51 207.88 60.12 209.49 58.69C211.1 57.26 213.23 56.54 215.89 56.54V56.55Z"
      class="fill-[#63626a]"></path>
    <path
      d="M233.78 82.35C235.95 82.35 237.91 81.88 239.65 80.93C241.4 79.99 242.69 78.62 243.53 76.84V81.87H247.2V53.24H243.53V68.82C243.53 72.21 242.71 74.78 241.07 76.53C239.43 78.28 237.22 79.15 234.46 79.15C231.7 79.15 229.64 78.33 228.09 76.69C226.53 75.05 225.76 72.67 225.76 69.56V53.25H222.14V69.98C222.14 74 223.22 77.07 225.39 79.18C227.56 81.3 230.35 82.35 233.78 82.35Z"
      class="fill-[#63626a]"></path>
    <path
      d="M282.47 75.27C283.64 73.03 284.23 70.44 284.23 67.51C284.23 64.58 283.64 62 282.47 59.77C281.3 57.55 279.67 55.84 277.59 54.63C275.51 53.42 273.18 52.82 270.59 52.82C267.86 52.82 265.51 53.46 263.54 54.73C261.56 56.01 260.12 57.61 259.21 59.53V53.24H255.59V95.41H259.21V75.59C260.12 77.51 261.57 79.11 263.56 80.39C265.55 81.67 267.89 82.3 270.59 82.3C273.29 82.3 275.51 81.69 277.59 80.46C279.67 79.24 281.3 77.51 282.47 75.27ZM275.31 77.71C273.7 78.64 271.88 79.1 269.86 79.1C267.84 79.1 266.11 78.63 264.48 77.68C262.85 76.74 261.57 75.39 260.63 73.64C259.69 71.89 259.21 69.86 259.21 67.56C259.21 65.26 259.68 63.23 260.63 61.48C261.57 59.73 262.86 58.39 264.48 57.44C266.11 56.5 267.9 56.02 269.86 56.02C271.82 56.02 273.71 56.47 275.31 57.38C276.92 58.29 278.19 59.61 279.11 61.34C280.04 63.07 280.5 65.13 280.5 67.5C280.5 69.87 280.04 71.9 279.11 73.66C278.18 75.43 276.92 76.77 275.31 77.7V77.71Z"
      class="fill-[#63626a]"></path>
    <path
      d="M296.26 80.49C298.41 81.7 300.83 82.3 303.52 82.3C306.21 82.3 308.66 81.7 310.86 80.49C313.06 79.28 314.79 77.56 316.05 75.32C317.31 73.08 317.94 70.49 317.94 67.56C317.94 64.63 317.32 61.99 316.08 59.77C314.84 57.55 313.12 55.84 310.94 54.63C308.75 53.42 306.32 52.82 303.62 52.82C300.92 52.82 298.5 53.42 296.33 54.63C294.16 55.84 292.45 57.55 291.19 59.77C289.93 61.99 289.3 64.59 289.3 67.56C289.3 70.53 289.92 73.13 291.16 75.35C292.4 77.57 294.1 79.28 296.25 80.49H296.26ZM294.48 61.19C295.44 59.46 296.73 58.17 298.33 57.31C299.94 56.45 301.69 56.03 303.57 56.03C305.45 56.03 307.21 56.46 308.81 57.31C310.42 58.17 311.71 59.46 312.69 61.19C313.67 62.92 314.16 65.04 314.16 67.56C314.16 70.08 313.66 72.2 312.67 73.93C311.67 75.66 310.37 76.95 308.76 77.81C307.15 78.67 305.4 79.09 303.52 79.09C301.64 79.09 299.89 78.66 298.3 77.81C296.71 76.95 295.43 75.66 294.47 73.93C293.51 72.2 293.03 70.08 293.03 67.56C293.03 65.04 293.51 62.92 294.47 61.19H294.48Z"
      class="fill-[#63626a]"></path>
    <path
      d="M339.03 81.88H358.17V78.84H342.7V64.94H356.6V61.9H342.7V48.21H358.17V45.17H339.03V81.88Z"
      class="fill-[#63626a]"></path>
    <path
      d="M383.98 78.39C384.82 77.18 385.24 75.81 385.24 74.27C385.2 72.59 384.75 71.25 383.88 70.23C383.01 69.22 381.96 68.45 380.73 67.92C379.51 67.4 377.86 66.85 375.8 66.29C374.09 65.8 372.72 65.36 371.71 64.95C370.7 64.55 369.85 63.99 369.17 63.27C368.49 62.55 368.15 61.64 368.15 60.52C368.15 59.23 368.73 58.14 369.88 57.27C371.03 56.4 372.54 55.96 374.39 55.96C376.49 55.96 378.14 56.48 379.35 57.51C380.56 58.54 381.21 59.9 381.32 61.57H384.99C384.85 58.84 383.84 56.7 381.95 55.15C380.06 53.59 377.58 52.82 374.5 52.82C372.54 52.82 370.79 53.17 369.26 53.87C367.72 54.57 366.53 55.51 365.69 56.7C364.85 57.89 364.43 59.18 364.43 60.58C364.43 62.43 364.89 63.91 365.82 65.01C366.75 66.11 367.87 66.94 369.2 67.5C370.53 68.06 372.26 68.62 374.39 69.18C376.03 69.6 377.34 69.99 378.3 70.36C379.26 70.73 380.06 71.23 380.69 71.85C381.32 72.48 381.63 73.28 381.63 74.26C381.63 75.66 381.06 76.83 379.93 77.77C378.79 78.71 377.23 79.19 375.24 79.19C372.97 79.19 371.16 78.69 369.81 77.7C368.46 76.7 367.7 75.4 367.53 73.79H363.75C363.99 76.41 365.16 78.48 367.24 80C369.32 81.52 372 82.28 375.29 82.28C377.25 82.28 378.98 81.93 380.48 81.23C381.98 80.53 383.15 79.58 383.99 78.37L383.98 78.39Z"
      class="fill-[#63626a]"></path>
    <path
      d="M413.61 72.54C413.12 74.64 412.06 76.27 410.44 77.44C408.81 78.61 406.8 79.2 404.38 79.2C402.46 79.2 400.73 78.76 399.19 77.89C397.65 77.02 396.44 75.71 395.55 73.96C394.66 72.21 394.21 70.08 394.21 67.56C394.21 65.04 394.66 62.92 395.55 61.19C396.44 59.46 397.66 58.16 399.19 57.28C400.73 56.41 402.46 55.97 404.38 55.97C406.79 55.97 408.81 56.56 410.44 57.73C412.07 58.9 413.12 60.52 413.61 62.58H417.54C416.88 59.57 415.4 57.2 413.11 55.45C410.82 53.7 407.91 52.83 404.38 52.83C401.69 52.83 399.29 53.43 397.19 54.64C395.09 55.85 393.45 57.56 392.26 59.78C391.07 62 390.48 64.6 390.48 67.57C390.48 70.54 391.07 73.14 392.26 75.36C393.45 77.58 395.09 79.29 397.19 80.5C399.29 81.71 401.68 82.31 404.38 82.31C407.88 82.31 410.78 81.42 413.09 79.64C415.4 77.86 416.88 75.5 417.55 72.56H413.62L413.61 72.54Z"
      class="fill-[#63626a]"></path>
    <path
      d="M444.26 54.63C442.07 53.42 439.64 52.82 436.94 52.82C434.24 52.82 431.82 53.42 429.65 54.63C427.48 55.84 425.77 57.55 424.51 59.77C423.25 61.99 422.62 64.59 422.62 67.56C422.62 70.53 423.24 73.13 424.48 75.35C425.72 77.57 427.42 79.28 429.57 80.49C431.72 81.7 434.14 82.3 436.83 82.3C439.52 82.3 441.97 81.7 444.17 80.49C446.37 79.28 448.1 77.56 449.36 75.32C450.62 73.08 451.25 70.49 451.25 67.56C451.25 64.63 450.63 61.99 449.39 59.77C448.15 57.55 446.43 55.84 444.25 54.63H444.26ZM445.99 73.93C444.99 75.66 443.69 76.95 442.08 77.81C440.47 78.67 438.72 79.09 436.84 79.09C434.96 79.09 433.21 78.66 431.62 77.81C430.03 76.95 428.75 75.66 427.79 73.93C426.83 72.2 426.35 70.08 426.35 67.56C426.35 65.04 426.83 62.92 427.79 61.19C428.75 59.46 430.04 58.17 431.64 57.31C433.25 56.45 435 56.03 436.88 56.03C438.76 56.03 440.52 56.46 442.12 57.31C443.73 58.17 445.02 59.46 446 61.19C446.98 62.92 447.47 65.04 447.47 67.56C447.47 70.08 446.97 72.2 445.98 73.93H445.99Z"
      class="fill-[#63626a]"></path>
    <path
      d="M459.02 74.12C459.02 76.88 459.65 78.87 460.91 80.07C462.17 81.28 464.09 81.88 466.68 81.88H470.61V78.73H467.25C465.57 78.73 464.4 78.4 463.74 77.73C463.08 77.07 462.74 75.86 462.74 74.11V56.33H470.61V53.24H462.74V46.06H459.02V53.24H455.03V56.33H459.02V74.11V74.12Z"
      class="fill-[#63626a]"></path>
    <path
      d="M481.78 80.49C483.91 81.7 486.32 82.3 489.02 82.3C492.48 82.3 495.36 81.42 497.65 79.65C499.94 77.88 501.43 75.6 502.13 72.81H498.25C497.73 74.77 496.65 76.32 495.02 77.48C493.39 78.63 491.39 79.21 489.02 79.21C487.2 79.21 485.52 78.82 483.99 78.03C482.45 77.24 481.21 76.08 480.27 74.54C479.33 73 478.8 71.15 478.7 68.98H502.46C502.53 68.32 502.56 67.35 502.56 66.1C502.56 63.65 502.01 61.42 500.91 59.41C499.81 57.4 498.24 55.8 496.19 54.61C494.14 53.42 491.76 52.83 489.03 52.83C486.3 52.83 483.87 53.43 481.74 54.61C479.61 55.8 477.95 57.51 476.76 59.75C475.57 61.99 474.98 64.59 474.98 67.56C474.98 70.53 475.58 73.13 476.79 75.35C478 77.57 479.67 79.28 481.8 80.49H481.78ZM481.89 58.59C483.81 56.84 486.14 55.97 488.87 55.97C490.69 55.97 492.37 56.36 493.9 57.12C495.44 57.89 496.65 59.03 497.55 60.53C498.44 62.03 498.87 63.85 498.83 65.98H478.69C478.9 62.8 479.97 60.33 481.89 58.59Z"
      class="fill-[#63626a]"></path>
    <path d="M512.93 53.24H509.26V81.87H512.93V53.24Z" class="fill-[#63626a]"></path>
    <path
      d="M511.1 47.84C511.83 47.84 512.46 47.58 512.99 47.05C513.51 46.53 513.78 45.88 513.78 45.11C513.78 44.34 513.52 43.7 512.99 43.2C512.47 42.69 511.84 42.44 511.1 42.44C510.36 42.44 509.74 42.69 509.21 43.2C508.69 43.71 508.42 44.35 508.42 45.11C508.42 45.87 508.68 46.53 509.21 47.05C509.73 47.57 510.36 47.84 511.1 47.84Z"
      class="fill-[#63626a]"></path>
    <path
      d="M524.95 65.88C524.95 62.52 525.75 60.13 527.36 58.7C528.97 57.27 531.1 56.55 533.76 56.55H534.76V52.72C532.35 52.72 530.31 53.21 528.65 54.19C526.99 55.17 525.76 56.55 524.95 58.33V53.24H521.28V81.87H524.95V65.87V65.88Z"
      class="fill-[#63626a]"></path>
    <path
      d="M545.53 80.49C547.68 81.7 550.1 82.3 552.79 82.3C555.48 82.3 557.93 81.7 560.13 80.49C562.33 79.28 564.06 77.56 565.32 75.32C566.58 73.08 567.21 70.49 567.21 67.56C567.21 64.63 566.59 61.99 565.35 59.77C564.11 57.55 562.39 55.84 560.21 54.63C558.02 53.42 555.59 52.82 552.89 52.82C550.19 52.82 547.77 53.42 545.6 54.63C543.43 55.84 541.72 57.55 540.46 59.77C539.2 61.99 538.57 64.59 538.57 67.56C538.57 70.53 539.19 73.13 540.43 75.35C541.67 77.57 543.37 79.28 545.52 80.49H545.53ZM543.75 61.19C544.71 59.46 546 58.17 547.6 57.31C549.21 56.45 550.96 56.03 552.84 56.03C554.72 56.03 556.48 56.46 558.08 57.31C559.69 58.17 560.98 59.46 561.96 61.19C562.94 62.92 563.43 65.04 563.43 67.56C563.43 70.08 562.93 72.2 561.94 73.93C560.94 75.66 559.64 76.95 558.03 77.81C556.42 78.67 554.67 79.09 552.79 79.09C550.91 79.09 549.16 78.66 547.57 77.81C545.98 76.95 544.7 75.66 543.74 73.93C542.78 72.2 542.3 70.08 542.3 67.56C542.3 65.04 542.78 62.92 543.74 61.19H543.75Z"
      class="fill-[#63626a]"></path>
    <path
      d="M178.39 107.07L158.69 155.63H168.47C171.18 148.83 178.81 147.93 187.76 147.93H193.93L197.05 155.63H206.83L187.13 107.07H178.39ZM187.76 139.6C182.28 139.6 177.49 140.5 173.4 143.48L182.77 120.31L190.54 139.6H187.76Z"
      class="fill-[#63626a]"></path>
    <path
      d="M225.82 148.26C224.63 148.31 223.26 148.36 222.1 148.26C221.04 148.17 220.14 147.94 219.51 147.61C218.86 147.26 218.4 146.84 217.97 146.16C217.76 145.86 217.58 145.46 217.4 145.03L217.38 145C217.17 144.44 217.03 143.97 216.91 143.5C216.66 142.51 216.48 141.33 216.38 140.02C216.3 138.91 216.28 137.7 216.3 136.2L216.68 118.12C216.85 112.54 216.99 106.96 217.13 101.25V100.81L209.4 100.48L209.38 100.93C209.11 106.91 208.87 112.3 208.66 117.85L208.18 136.02C208.14 138.94 208.23 142.11 209.08 145.5C209.58 147.45 210.3 149.11 211.27 150.58C211.92 151.54 212.58 152.31 213.3 152.94C214.09 153.64 215 154.26 215.95 154.73C218.03 155.76 220.12 156 221.52 156.1C222.03 156.13 222.52 156.14 223 156.14C224.17 156.14 225.25 156.07 226.24 156L226.69 155.97L226.25 148.24L225.8 148.26H225.82Z"
      class="fill-[#63626a]"></path>
    <path
      d="M250.68 117.06C244.44 117.06 239.72 120.53 237.29 124.9V103.05H228.55V155.64H237.29V148.84C239.72 153.21 244.44 156.68 250.68 156.68C274.27 156.68 274.27 117.07 250.68 117.07V117.06ZM248.46 148.76C240.83 148.76 237.29 142.65 237.29 136.83C237.29 131.01 240.83 124.97 248.46 124.97C262.75 124.97 262.75 148.77 248.46 148.77V148.76Z"
      class="fill-[#63626a]"></path>
    <path
      d="M289.6 148.55C286.89 148.55 284.54 147.23 282.94 144.8L298.62 138.14C304.17 135.71 305.28 132.45 305.28 128.36C305.28 121.42 299.59 116.36 289.53 117.05C281.07 117.67 271.84 123.43 271.84 136.89C271.84 148.27 278.71 156.66 289.95 156.66C300.15 156.66 305.98 151.87 305.98 142.58H296.89C296.89 146.81 293.7 148.55 289.61 148.55H289.6ZM280.93 136.9C280.93 128.23 285.93 124.9 290.3 124.9C293.63 124.9 296.54 126.84 296.54 129.83C296.54 131.63 295.36 132.33 293.9 132.95L281 138.5C280.93 137.95 280.93 137.46 280.93 136.9Z"
      class="fill-[#63626a]"></path>
    <path
      d="M310.83 129.82V155.63H319.57V132.6C319.57 128.37 321.03 126.43 325.74 126.43H336.35V118.17H322.47C315.53 118.17 310.81 122.89 310.81 129.83L310.83 129.82Z"
      class="fill-[#63626a]"></path>
    <path
      d="M348.36 143.7V125.73H355.99V118.17H348.36V111.02H339.62V146.54C339.62 153.41 344.75 155.63 349.47 155.63H357.1V147.72H352.38C350.02 147.72 348.36 146.33 348.36 143.7Z"
      class="fill-[#63626a]"></path>
    <path
      d="M384.78 120.25C384.78 116.71 388.66 114.7 393.87 114.7C399.35 114.7 403.79 116.92 403.79 121.71H412.46C412.46 111.37 405.31 106.03 393.8 106.03C384.02 106.03 376.18 110.96 376.18 121.36C376.18 139.68 404.69 132.95 404.69 143.14C404.69 146.54 400.32 148 395.19 148C390.06 148 384.64 145.92 384.64 141.34H375.9C375.9 151.95 385.82 156.67 395.19 156.67C405.46 156.67 413.23 152.99 413.23 143.14C413.23 123.78 384.79 131.62 384.79 120.25H384.78Z"
      class="fill-[#63626a]"></path>
    <path
      d="M434.66 125.66C439.03 125.66 441.94 127.39 441.94 131.63H451.03C451.03 122.33 444.37 117.06 435 117.06C423.48 117.06 416.89 125.45 416.89 136.83C416.89 148.21 423.48 156.67 435 156.67C444.37 156.67 451.03 151.4 451.03 142.1H441.94C441.94 146.33 439.03 148.07 434.66 148.07C429.25 148.07 425.99 144.32 425.99 136.83C425.99 129.34 429.25 125.66 434.66 125.66Z"
      class="fill-[#63626a]"></path>
    <path
      d="M478.09 117.06C472.75 117.06 467.82 120.39 464.98 125.87V103.05H456.24V155.64H464.98V136.42C464.98 129.07 469.98 124.9 475.04 124.9C479.62 124.9 483.85 128.09 483.85 134.13V155.64H492.52V132.61C492.52 122.27 485.65 117.07 478.09 117.07V117.06Z"
      class="fill-[#63626a]"></path>
    <path
      d="M537.69 117.86L537.59 138.38C537.56 139.97 537.41 141.38 537.15 142.55C536.87 143.78 536.43 144.82 535.88 145.55C535.33 146.28 534.72 146.72 533.87 147C533.74 147.03 533.62 147.07 533.49 147.1C533.36 147.14 533.24 147.18 533.11 147.2L532.28 147.34C531.93 147.38 531.46 147.34 530.99 147.25C529.98 147.05 528.79 146.57 527.64 145.9C527.04 145.54 526.44 145.13 525.86 144.68L525.92 144.59C526.07 144.33 526.22 144.07 526.38 143.81C526.71 143.25 527.06 142.67 527.36 142.07L528.28 140.12C528.35 139.97 528.41 139.81 528.47 139.65L528.55 139.45C529.25 137.71 529.81 135.88 530.23 133.99L530.64 131.94C530.67 131.78 530.7 131.59 530.72 131.41C530.72 131.33 530.74 131.25 530.75 131.16L530.85 130.39C530.87 130.2 530.88 130 530.89 129.81V129.61C530.95 129.06 530.93 128.5 530.92 127.98C530.92 127.55 530.87 127.11 530.82 126.68L530.77 126.24L530.7 125.88C530.62 125.43 530.53 124.96 530.38 124.5C530.01 123.17 529.44 121.97 528.69 120.95C527.8 119.72 526.65 118.72 525.36 118.05C523.98 117.33 522.36 116.98 520.81 117.07C519.33 117.14 517.85 117.6 516.54 118.38C515.4 119.06 514.38 119.97 513.51 121.09C512.78 122.02 512.19 123.07 511.72 124.3C511.27 125.41 511.02 126.52 510.82 127.58L510.79 127.77C510.73 128.22 510.66 128.69 510.63 129.17C510.63 129.32 510.61 129.48 510.6 129.64C510.58 130 510.56 130.36 510.56 130.71C510.56 131.8 510.61 132.79 510.72 133.73C510.95 135.72 511.42 137.69 512.13 139.59C512.76 141.32 513.65 143.06 514.78 144.76C514.3 145.13 513.79 145.47 513.28 145.77L512.44 146.23L511.57 146.59L510.56 146.92C510.48 146.95 510.4 146.97 510.36 146.99L509.92 147.06C508.79 147.27 507.88 147.23 506.99 146.94C506.87 146.9 506.75 146.85 506.63 146.82C506.61 146.82 506.58 146.8 506.55 146.78C506.5 146.75 506.46 146.73 506.41 146.7C506.36 146.67 506.31 146.65 506.26 146.63C506.24 146.63 506.22 146.61 506.2 146.6C506.11 146.53 506.01 146.46 505.88 146.38C505.86 146.36 505.84 146.34 505.82 146.33L505.77 146.28C505.77 146.28 505.68 146.19 505.63 146.15C505.61 146.13 505.59 146.12 505.57 146.1C505.51 146.02 505.45 145.95 505.39 145.87C505.32 145.79 505.27 145.73 505.23 145.66L505.2 145.61C504.71 144.87 504.33 143.75 504.13 142.48C503.93 141.28 503.82 139.85 503.81 138.13V136.96L504.37 117.73L497.2 117.4L495.66 136.83V138.17C495.66 139.67 495.7 141.68 496.05 143.84C496.46 146.32 497.18 148.32 498.32 150.09C498.57 150.52 498.9 150.91 499.22 151.29C499.31 151.4 499.4 151.51 499.51 151.64C499.68 151.83 499.87 152 500.06 152.18L500.27 152.38C500.5 152.59 500.73 152.81 500.99 152.98C501.25 153.17 501.52 153.35 501.78 153.53C501.99 153.68 502.2 153.78 502.4 153.89C502.48 153.93 502.56 153.97 502.66 154.02C502.74 154.06 502.82 154.1 502.89 154.14C503.1 154.25 503.31 154.36 503.54 154.44L504.37 154.74C504.82 154.92 505.25 155.01 505.67 155.09C505.82 155.12 505.96 155.15 506.11 155.18C506.38 155.25 506.66 155.29 507.04 155.32L508.38 155.43C508.49 155.43 508.59 155.43 508.69 155.43L509.66 155.38C510.21 155.37 510.73 155.28 511.22 155.19L512.21 155.01C512.4 154.96 512.58 154.91 512.76 154.85L514.18 154.42L516.02 153.65L517.38 152.91C518.41 152.31 519.4 151.62 520.32 150.87C521.32 151.68 522.38 152.41 523.47 153.06C525.53 154.24 527.43 154.98 529.43 155.37C530.3 155.54 531.13 155.62 531.95 155.62C532.36 155.62 532.76 155.6 533.16 155.56C533.66 155.49 534.14 155.41 534.63 155.32L534.81 155.29C535.23 155.2 535.66 155.08 536.07 154.95C536.21 154.91 536.35 154.87 536.5 154.82C536.93 154.68 537.36 154.49 537.77 154.3C537.9 154.24 538.04 154.18 538.2 154.11C538.78 153.8 539.33 153.45 539.79 153.15L539.83 153.12C539.95 153.02 540.07 152.93 540.19 152.83C540.55 152.54 540.93 152.24 541.26 151.89L541.46 151.68C541.82 151.3 542.19 150.91 542.48 150.49C543.76 148.77 544.65 146.76 545.19 144.33C545.57 142.57 545.77 140.72 545.81 138.51V137.82L544.87 117.85H537.7L537.69 117.86ZM522.62 129.16L522.6 129.6L522.54 130.08C522.53 130.15 522.52 130.22 522.51 130.29C522.51 130.37 522.49 130.46 522.47 130.56L522.14 132.2C521.82 133.64 521.4 135.04 520.87 136.36L520.8 136.55C520.76 136.65 520.73 136.75 520.69 136.84L520.32 137.62C520.18 137.3 520.05 136.98 519.93 136.66C519.46 135.4 519.14 134.09 518.99 132.76C518.92 132.16 518.88 131.5 518.88 130.75C518.88 130.55 518.88 130.37 518.9 130.18C518.9 130.05 518.92 129.91 518.92 129.8C518.94 129.61 518.96 129.42 518.98 129.23C519 129.11 519.01 128.99 519.02 128.9C519.23 127.71 519.6 126.73 520.08 126.14C520.55 125.52 521.02 125.34 521.22 125.34C521.22 125.34 521.23 125.34 521.24 125.34C521.46 125.34 521.64 125.38 521.97 125.8C522.14 126.02 522.3 126.36 522.4 126.76L522.42 126.81C522.46 126.91 522.48 127.04 522.51 127.19C522.53 127.28 522.54 127.37 522.56 127.46C522.56 127.57 522.58 127.67 522.59 127.78C522.61 127.94 522.63 128.09 522.63 128.24V128.37C522.64 128.63 522.65 128.87 522.63 129.14L522.62 129.16Z"
      class="fill-[#63626a]"></path>
    <path
      d="M566.67 148.55C563.96 148.55 561.61 147.23 560.01 144.8L575.69 138.14C581.24 135.71 582.35 132.45 582.35 128.36C582.35 121.42 576.66 116.36 566.6 117.05C558.14 117.67 548.91 123.43 548.91 136.89C548.91 148.27 555.78 156.66 567.02 156.66C577.22 156.66 583.05 151.87 583.05 142.58H573.96C573.96 146.81 570.77 148.55 566.68 148.55H566.67ZM558 136.9C558 128.23 563 124.9 567.37 124.9C570.7 124.9 573.61 126.84 573.61 129.83C573.61 131.63 572.43 132.33 570.97 132.95L558.07 138.5C558 137.95 558 137.46 558 136.9Z"
      class="fill-[#63626a]"></path>
    <path
      d="M592.61 103.04C589.83 103.04 587.62 105.33 587.62 108.1C587.62 110.87 589.84 113.1 592.61 113.1C595.38 113.1 597.61 110.81 597.61 108.1C597.61 105.39 595.39 103.04 592.61 103.04Z"
      class="fill-[#63626a]"></path>
    <path d="M596.98 118.17H588.24V155.63H596.98V118.17Z" class="fill-[#63626a]"></path>
    <path
      d="M611.97 143.7V125.73H619.6V118.17H611.97V111.02H603.23V146.54C603.23 153.41 608.36 155.63 613.08 155.63H620.71V147.72H615.99C613.63 147.72 611.97 146.33 611.97 143.7Z"
      class="fill-[#63626a]"></path>
    <path
      d="M654.71 124.06V118.17H623.97V126.42H641.8L623.28 149.66V155.63H655.05V147.37H636.18L654.71 124.06Z"
      class="fill-[#63626a]"></path>
    <path
      d="M675.31 148.55C672.6 148.55 670.25 147.23 668.65 144.8L684.33 138.14C689.88 135.71 690.99 132.45 690.99 128.36C690.99 121.42 685.3 116.36 675.24 117.05C666.78 117.67 657.55 123.43 657.55 136.89C657.55 148.27 664.42 156.66 675.66 156.66C685.86 156.66 691.69 151.87 691.69 142.58H682.6C682.6 146.81 679.41 148.55 675.32 148.55H675.31ZM666.64 136.9C666.64 128.23 671.64 124.9 676.01 124.9C679.34 124.9 682.25 126.84 682.25 129.83C682.25 131.63 681.07 132.33 679.61 132.95L666.71 138.5C666.64 137.95 666.64 137.46 666.64 136.9Z"
      class="fill-[#63626a]"></path>
    <path
      d="M708.19 118.17C701.25 118.17 696.53 122.89 696.53 129.83V155.64H705.27V132.61C705.27 128.38 706.73 126.44 711.44 126.44H722.05V118.18H708.17L708.19 118.17Z"
      class="fill-[#63626a]"></path>
  </svg>
</div>
